<div class="bg col-sm-4 col-md-6 col-lg-8 col-xl-12">
  <div class="transparent">
    <div class="d-flex justify-content-center name">
      <h4>Welcome {{name}}</h4>
    </div>
    <div class="d-flex justify-content-center logout">
      <button class="btn btn-danger font-weight-bolder" (click)="logout()">Logout</button>
    </div>

<!--Available Table-->

    <div class="table-responsive available-table">
      <table class="table-dark table">
        <thead>
          <tr>
            <th class="table-heading">Available_Slots_For_Today</th>
          </tr>
          <tr>
            <th>Time</th>
            <th >Ground 1</th>                    
            <th >Ground 2</th>
            <th >Ground 3</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let time of available">
            <td>{{time}}</td>
            <td><input type="checkbox" class="custom-checkbox" ></td>
            <td><input type="checkbox" class="custom-checkbox" ></td>
            <td><input type="checkbox" class="custom-checkbox" ></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-center"><button class="btn btn-success" (click)="chooseMyGame()">Choose Your Game</button></td>
          </tr>
        </tbody>
      </table>
    <div>
      
  </div>
</div>
  
