<div class="col-sm-4 col-md-6 col-lg-8 col-xl-12 row text-center d-flex justify-content-center" id="footer">
  <div id="instaDiv">
      <span><strong>Follow us On</strong></span><br>
      <button class="btn btn-danger"><i class="fab fa-instagram"></i></button>
      <h6>
        <a href="https://www.instagram.com/kickoff_play/">INSTAGRAM</a>
      </h6>
  </div>
  <div id="fbDiv">
      <span><strong>Like & Share On</strong></span><br>
      <button class="btn btn-primary"><i class="fab fa-facebook"></i></button>
      <h6>
        <a href="https://www.facebook.com/Kickoff.fit/">FACEBOOK</a>
      </h6>
  </div>
</div>
