body,
html {
  height: 1300px;
}
.bg{
    /* The image used */
    background-image: url("../../assets/Images/background.jpg");
    /* Full height */
    height: 1300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
  }
  #content{
    padding-top: 2%;
    height: 29%;
    width: 40%;
}
#login{
    padding: 7%;
}
#submit{
    margin-right: 4%;
}
label{
    color: white;
    font-weight: bold;
    margin-right: 3%;
    margin-top: 3%;
}
#signup{
    font-weight: bold;
    color: rgb(97, 97, 231);
}
.dark{
    background-color: rgba(0, 0, 0, 0.849);
}
pre {
    color: white;
}