<div class="bg col-sm-4 col-md-6 col-lg-8 col-xl-12">
    <div class = "container-fluid" id = "main">
        <div class = "container-fluid d-flex justify-content-center" id="content">
            <div class="dark" id="login">
            <form class = "form-group text-secondary" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="d-flex justify-content-center">
                <h3 class="font-weight-bolder font-size-xx-large text-success">Please Login To Continue..</h3>
              </div>
              <div class = "form-group">
                  <label>User Name*</label>
                  <input type = "text" class = "form-control" formControlName = "uname" placeholder = "Enter User Name" [ngClass]="{'is-invalid': submitted && f.uname.errors, 'is-valid': submitted && f.uname.valid}">
                  <div *ngIf ="submitted && f.uname.errors" class="invalid-feedback">
                      <div *ngIf="submitted && f.uname.errors.required">User Name is required!</div>
                      <div *ngIf="submitted && f.uname.errors.minlength">User Name should have atleast 8 characters!</div>
                  </div>
                  <div *ngIf="submitted && f.uname.valid" class="valid-feedback">
                      <div>User Name is OK</div>
                  </div>
              </div>
              <div class = "form-group">
                  <label>Password*</label>
                  <input type = "password" class = "form-control" placeholder="Enter Password" formControlName = "password" [ngClass]="{'is-invalid': submitted && f.password.errors, 'is-valid': submitted && f.password.valid}">
                  <div *ngIf ="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="submitted && f.password.errors.required">Password is required!</div>
                      <div *ngIf="submitted && f.password.errors.pattern">Password must be of atleast 8 characters and must have atleast one capital letter, one small letter and one number!</div>
                  </div>
                  <div *ngIf="submitted && f.password.valid" class="valid-feedback">
                      <div>Password is OK</div>
                  </div>
              </div>
                <div class = "form-group d-flex justify-content-center">
                    <input type = "submit" class = "btn btn-success font-weight-bold" value = "Login" id = "submit">
                    <button type = "reset" class = "btn btn-danger font-weight-bold" (click)="reset()">Reset</button>
                </div>
                <div class="text-center">
                    <label>Not a User ?</label>
                    <button id="signup" class="btn btn-link font-weight-bold" (click)="register()">Sign Up</button>
                </div>
            </form>
            </div>
        </div>
      </div>
      
</div>
