<div class="bg col-sm-4 col-md-6 col-lg-8 col-xl-12">
        <angular-image-slider 
            [autoRotate]="true"
            [autoRotateAfter]="8000"
            [autoRotateRight]="true"
            [images]="imagesUrl">
        </angular-image-slider>
        <h3 class="text-center text-success font-weight-bolder">Notifications..</h3>
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <ng-marquee>
                    <mark class="bg-dark text-danger  font-weight-bolder font-size-large">Hello World!!!</mark>
                </ng-marquee>
            </div>
        </div>
</div>


