<div class="bg col-sm-4 col-md-6 col-lg-8 col-xl-12">
    <!--Image Slider-->
    <div class="row">  
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideconfig">  
        <div ngxSlickItem *ngFor="let image of images" class="slide">  
            <img src="{{image.img}}" height="25%" width="90%">  
        </div>  
        </ngx-slick-carousel>  
    </div> 

    <!--Notification Marquee-->
    <h3 class="text-center font-size-xx-large text-success font-weight-bolder" id="h3">NOTIFICATIONS..</h3>
    <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <ng-marquee width="100px" vspace="20">
                    <mark *ngFor = "let evnt of eventData" class="bg-dark text-danger  font-weight-bolder font-size-large">
                    {{evnt.ename}}, {{evnt.date}}, {{evnt.time}}, {{evnt.details}} <br>
                    </mark>
                </ng-marquee>
            </div>
    </div>

    <div class = "container-fluid" id = "main">
            <div class = "container-fluid d-flex justify-content-center" id="content">
                <div class="dark" id="login">
                    <div class="d-flex justify-content-center">
                        <h3 class="font-weight-bolder font-size-xx-large text-success">HIGHLIGHTS..</h3>
                    </div>
                    <div class = "form-group">
                        <pre class="font-weight-bolder text-center">The Biggest Private Football Turf in Kerala</pre>
                        <pre class="font-weight-bolder text-center">First Professional Football Facility In Kasargod</pre>
                        <pre class="font-weight-bolder text-center">Football Academy</pre>
                        <pre class="font-weight-bolder text-center">Football Clinic</pre>
                        <pre class="font-weight-bolder text-center">Football Coaching License Program</pre>
                        <pre class="font-weight-bolder text-center">Football Match Screening</pre>
                        <pre class="font-weight-bolder text-center">Cafe And Eatery</pre>
                        <pre class="font-weight-bolder text-center">Tournaments And Leagues</pre>
                    </div>
                </div>
            </div>
    </div>
</div>


