body,
html {
  height: auto;
}
.bg{
    /* The image used */
    background-image: url("../../assets/Images/background.jpg");
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15%;
}
.logout {
    margin-bottom: 8%;
}
#content{
  height: 48%;
  width: 75%;
}
#box{
  padding: 5%;
}
label{
  color: white;
  font-weight: bold;
  font-size: medium;
  margin-right: 8%;
}
span {
  color: green;
  font-weight: bolder;
  font-size: large;
}
.buttn {
  margin-right: 4%;
}
h4 {
  color: rgb(4, 4, 95);
  margin-bottom: 8%;
}
#h3 {
  margin-bottom: 6%;
}
.dark{
  background-color: rgba(0, 0, 0, 0.849);
}