body,
html {
  height: auto;
}
.bg{
    /* The image used */
    background-image: url("../../assets/Images/background.jpg");
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15%;
}
.logout {
    margin-bottom: 8%;
}
#content{
  height: 48%;
  width: 65%;
}
#box{
  padding: 7%;
}
label{
  color: white;
}